{% extends 'base.html' %}
{% block start %}
  <form method="post" class="container my-4 mx-auto border rounded-md shadow-xl p-5 bg-green-500 text-black w-1/2" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="text-3xl font-bold mb-4">Add Recipe</h1>
    <div class="mb-4">
      <label for="recipeName" class="block text-sm font-medium">Recipe name</label>
      <input type="text" required name="recipe_name" id="recipeName" class="mt-1 p-2 shadow-md block w-full rounded-md border-gray-300 focus:outline-none focus:ring focus:ring-indigo-500 focus:border-indigo-500" />
    </div>
    <div class="mb-4">
      <label for="recipeDescription" class="block text-sm font-medium">Recipe Description</label>
      <textarea class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-md focus:outline-none focus:ring focus:ring-indigo-500 focus:border-indigo-500" required name="recipe_description" id="recipeDescription" rows="3"></textarea>
    </div>
    <div class="mb-4">
      <label for="recipeImg" class="cursor-pointer mt-1 inline-block bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow-md">
        <span class="inline-block">Choose File</span>
        <input type="file" name="recipe_img" required id="recipeImg" class="hidden">
      </label>
    </div>
    <div class="btn cursor-pointer mt-1 inline-block bg-rose-500 hover:bg-rose-600  text-white font-semibold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    <button type="submit" >Submit</button>
  </div>
  </form>

  <div class="mt-5 mb-5 mx-auto w-1/2">
    <form>
      <div class="flex items-center ">
        <input name="search" class="mt-1 p-2 block w-full rounded-md border-green-600 shadow-md focus:outline-none focus:ring focus:ring-indigo-500 focus:border-indigo-500" />
        <button type="submit" class="ml-3 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Search</button>
        <a href="/recipes/" class="ml-3 py-2 px-4 border border-transparent text-sm w-28 font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Show all</a>
      </div>
    </form>
  </div>

  {% if recipes %}
    <table class="table-auto mx-auto border-collapse  border-2  rounded-md border-gray-800">
      <thead>
        <tr>
          <th class="border border-gray-800 px-4 py-2">S.No</th>
          <th class="border border-gray-800 px-4 py-2">Name</th>
          <th class="border border-gray-800 px-4 py-2">Description</th>
          <th class="border border-gray-800 px-4 py-2">Image</th>
          <th class="border border-gray-800 px-4 py-2">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for recipe in recipes %}
          <tr>
            <td class="border border-gray-800 px-4 py-2">{{ forloop.counter }}</td>
            <td class="border border-gray-800 px-4 py-2">{{ recipe.recipe_name }}</td>
            <td class="border border-gray-800 px-4 py-2">{{ recipe.recipe_description }}</td>
            <td class="border border-gray-800 px-4 py-2">
              <img src="{{ recipe.recipe_img.url }}" style="height: 200px;" alt="{{ recipe.recipe_name }}" />
            </td>
            <td class="px-4 py-2  flex justify-between space-x-2">
              <a href="del_recipe/{{ recipe.id }}" class="py-2  px-4  text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Delete</a>
              <br />
              <a href="update_recipe/{{ recipe.id }}" class=" py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Update</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      function disableButton(btn) {
          btn.innerHTML = 'Submitting...';
          btn.disabled = true;
      }
      </script>
  {% endif %}
{% endblock %}
